 <!-- ======= TUẤN ANH  ======= -->
    <section id="hero" class="hero d-flex align-items-center section-bg">
      <div class="container">
        <div class="row justify-content-between gy-5">
          <div
            class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start"
          >
            <h2 data-aos="fade-up">RỒNG VÀNG ĐÃ GHÉ - MUA HÀNG NGAY NHÉ</h2>
            <p data-aos="fade-up" data-aos-delay="100">CONTENT...</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#book-a-table" class="btn-book-a-table">ĐẶT HÀNG NGAY</a>
              <a
                href="..."
                class="glightbox btn-watch-video d-flex align-items-center"
                ><i class="bi bi-play-circle"></i><span>CHÚNG MINH LÀ YIT</span></a
              >
              <!-- link video về chúng tôi-->
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
            <!-- <img
              src="assets/img/hero-img.png"
              class="img-fluid"
              alt=""
              data-aos="zoom-out"
              data-aos-delay="300" -->
            />LOGO CHIẾN DỊCH MÙA XUÂN
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>CHIẾN DỊCH</h2>
            <p>XUÂN TÌNH NGUYỆN 2024</p>
          </div>

          <div class="row gy-4">
            <!-- thay đổi ảnh chiến dịch xuân tình nguyện 2024-->
            <div
              class="col-lg-7 position-relative about-img"
              style="background-image: url(assets/img/about.jpg)" 
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <!-- <div class="call-us position-absolute">
              <h4>Book a Table</h4>
              <p>+1 5589 55488 55</p>
            </div> -->
            </div>

            <div
              class="col-lg-5 d-flex align-items-end"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">CONTENT</p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> CONTENT1</li>
                  <li><i class="bi bi-check2-all"></i> CONTENT2</li>
                  <li><i class="bi bi-check2-all"></i> CONTENT3</li>
                </ul>
                <p>CONTENT</p>

                <div class="position-relative mt-4">
                  <img src="..." class="img-fluid" alt="" />
                  <!-- thay đổi ảnh mô tả về chiến dịch xuân tình nguyện-->
                  <a href="..." class="glightbox play-btn"></a>
                  <!-- link video -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
**/venv
